<div id="container" style="position:relative">
  <%=image_tag '/uploaded_images/hatified-'+ @feature.image.filename %>
  <div style="background-color:rgba(127,0,0,0.5);position:absolute;border:2px solid white;width:<%=@div_width%>px;
              height:<%=@div_height%>px;top:<%=@div_y%>px;left:<%=@div_x%>px"></div>
</div>

<%= button_to 'delete?', @feature, :method => :delete, :confirm => "sure?" %>
<%= link_to 'back', :controller => :images, :action => :show %>
