<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
  <%= stylesheet_link_tag    "main" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "images" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
